body {
	background-color: #F0F8FF;
	font-family: Verdana;
}

input[type="submit"] {
	margin-top: 10px;
}

table,th,td {
	border: 1px solid #5B86A1;
	border-collapse: collapse;
}

thead tr,tfoot tr {
	color: #FFF;
	background-color: gray;
}

td {
	padding-left: 0.2em;
	padding-right: 0.2em;
}

th {
	color: #FFF;
	background-color: #4D6F7F;
}

tbody tr:nth-child(even) {
	background-color: #A3D5FF;
}

tbody tr:nth-child(odd) {
	background-color: #78B1D4;
}

h1,h2,h3 {
	color: #003455;
}

button,html input[type="button"],input[type="reset"],input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer;
}

a {
	color: #000;
	text-decoration: underline;
}

a:hover {
	color: gray;
}

/* ETC */
.fout {
	color: red;
	font-weight: bold;
}

.align_right {
	text-align: right;
}

.lowercase {
	text-transform: lowercase;
}

.lowercase:first-letter {
	text-transform: capitalize;
}

p.pagination {
	margin-top: 10px;
	text-align: center;
}

p.pagination a {
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

.fouten {
	color: red;
}